[submodule "hagueapi"]
	path = hagueapi
	url = https://github.com/labzang/hagueapi.git
[submodule "hatcheryall"]
	path = hatcheryall
	url = https://github.com/kangsungunn/hatcheryall.git
[submodule "hatcheryapi"]
	path = hatcheryapi
	url = https://github.com/kangsungunn/hatcheryapi.git
[submodule "api.kroaddy.site"]
	path = api.kroaddy.site
	url = https://github.com/kangsungunn/hatcheryapi.git
[submodule "chat.kroaddy.site"]
	path = chat.kroaddy.site
	url = https://github.com/kangsungunn/hatcherychat.git
[submodule "vision.kroaddy.site"]
	path = vision.kroaddy.site
	url = https://github.com/kangsungunn/hatcheryvision.git
