[submodule "hagueapi"]
	path = hagueapi
	url = https://github.com/labzang/hagueapi.git
[submodule "hatcheryall"]
	path = hatcheryall
	url = https://github.com/kangsungunn/hatcheryall.git
[submodule "hatcheryapi"]
	path = hatcheryapi
	url = https://github.com/kangsungunn/hatcheryapi.git
